body {
    margin: 0;
    padding: 0;
}

.background-image-container {
    background-image: url('static/Restoran.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
